body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
}

.section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.placeholder {
  display: flex;
  align-items: center;
}

img {
  display: flex;
  width: 150px;
  height: 150px;
  border-color: black;
}

.s2title {
  text-align: center;
}

.section-2 {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.subtext {
  width: 150px;
  text-align: center;
}
